.container{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 50px;
}
input{
    font-size: 23px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}
table{
    margin: auto;
}
button {
    margin-top: 10px;
    font-size: 23px;
    background-color: gray;
    color: white;
    width: 69px;
    height: 54px;
    border-radius: 10px;
}
.calculator{
    display: inline-block;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;   
}
h2{
    margin: 10px 5px;

}